.cta {
  text-align: center;
  padding: 4rem 1rem;
  background: #5b0047;
  color: white;
  width: 60%;       /* make it narrower */
  margin: 0 auto;   /* keep it centered */
  border-radius: 10px;
  
}

.cta button {
  margin-top: 1.5rem;
  background: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  color: #5b0047;
  cursor: pointer;
}
