.app {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.mainContent {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 2rem 5%;
}

@media (max-width: 900px) {
  .mainContent {
    grid-template-columns: 1fr;
  }
}
